@charset "UTF-8";
/* 포트폴리오 내용 */
.top-logo{
  height: 180px;
  background-color: #fff6f2;
  position: relative;
  margin-bottom: 50px;
}
.top-logo span {
  position: absolute;
  left: 4%;
  bottom: 7%;
  color: #8ac6d1;
  font-family: 'Hahmlet', serif;
  font-weight: 700;
  font-size: 320%;
}
#portTable{
  margin: 0 auto;
	width: 80%;
	margin-left: 100px;
	margin-right: 100px;
}
th, td{
  padding: 0;
  text-align: left;
  font-size: medium;
  font-weight: 600;
}
#img-th, #work-table th:not(#work-wrap-th){
  padding: 0 23px;
  font-size: large;
  font-weight: 400;
}
#work-wrap-th {
  /* 경력 */
  padding: 0 10px;
  text-align: left;
  font-size: 40px;
  font-weight: 600;
}

#profile-img-container{
  width: 350px;
  height: 450px;
  padding: 10px;
  overflow: hidden;
}
#profile-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#work-img-container{
  width: 320px;
  height: 280px;
  padding: 10px;
}
.work-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#portfolio-container input:not(#height):not(#weight):not(.btn):not(.ckbox):not(#Pbirth):not(#Page) {
  font-family: 'Hahmlet', serif;
  font-size: large;
  font-weight: 500;
  border: none;
  width: 400px;
}
#height, #weight, #Page {
  font-family: 'Hahmlet', serif;
  font-size: large;
  font-weight: 500;
  border: none;
  width: 80px;
}
#Pbirth {
  font-family: 'Hahmlet', serif;
  font-size: large;
  font-weight: 500;
  border: none;
  width: 150px;
}
.work-no{
  text-align: center;  
}
#portTable span{
  font-family: 'Hahmlet', serif;
  font-size: large;
  font-weight: 500;
}
#btn-wish-actor{
  width: 370px;
}
#btn-wish-actor img{
  z-index: 1;
  bottom: 125px;
  width: 60px;
  cursor: pointer;
  position: relative;
  float: right;
}


.w-btn-green2 {
	font-family: 'Hahmlet', serif;
    background-color: #519d9e;
    color: #9dc8c8;
}

.w-btn-green-outline {
    border: 3px solid #77af9c;
    color: darkgray;
}



.btn-move {
	margin:auto;
	display:block;
	border: 0;
    line-height: 2.5;
    padding: 0 20px; 
    font-size: 24px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #bbded6;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
	










