@charset "UTF-8";
.top-logo{
  overflow: hidden;
  height: 180px;
}
.top-logo img{
  width: 100%;
  position:relative;
  bottom: 170px;
  opacity: 0.7;
}
.container{
  padding: 40px;
}
.form-select{
  width: 100px !important;
  margin-bottom: 20px;
}