@charset "UTF-8";
#ann-list-container{
  font-family: 'Hahmlet', serif;
}
/* boardList */

.mrgbtm{
  margin: 50px 0;
}
.top-logo{
  overflow: hidden;
  height: 180px;
}
.top-logo img{
  width: 100%;
  position:relative;
  bottom: 300px;
  opacity: 0.7;
}
.container{
  padding: 60px;
}
.form-select{
  width: 100px !important;
  margin-bottom: 20px;
}
.inner .form-select{
  display: inline;
}
.inner .btn{
  float: right;
  margin-right: 20px;
  background-color: #bbded6;
  transition: .2s;
  border: none;
}
.inner .btn:hover{
  background-color: #fae3d9;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.row{
  width: 100%;
}
.ann-card .card-footer{
  background-color: #bbded6;
}
.ann-card .text-muted{
  color: white !important;
}
.ann-card:hover{
  cursor: pointer;
  background-color: #bbded645;
  box-shadow: 0px 0px 8px rgba(172, 172, 172, 0.5);
}
.ann-card .card-footer {
  color: #ffffff;
}
#pagebar{
  text-align: center;
  font-size: 25px;
  margin: 20px;
  color: #639488;
}
#pagebar a{
  padding: 10px;
  text-decoration: none;
  color: #bbded6;
  transition:all 0.2s ease-in-out;
}
#pagebar span{
  padding: 10px;
  color: #639488;
}
#pagebar a:hover{
  color: #639488;
}

.btn-more{
	text-align: center;
	margin: 20px;
}
.btn-more .btn{
  color: #bbded6;
  font-size: 25px;
  background-color: #ffffff;
  letter-spacing:10px;
	border: none;
}
.btn-more .btn:hover{
  background-color: #fae3d963;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

/* boardView */

#btn-apply{
  position: relative;
  bottom: 150px;
  right: 80px;
  float: right;
  width: 280px;
  height: 80px;

  border: none;
  background-color: #ffb6b9;
  font-size: 30px;
  font-weight: bold;
  color: white;
  letter-spacing: 15px;
  text-align: center;
}

#btn-wish{
  display: inline;
  position: relative;
  float: right;
  width: 60px;
  height: 60px;
  bottom: 50px;
  left: 200px;

  background-color: #bbded6;
}
#btn-apply:hover{
  background-color: #fae3d9;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#ann-view-container{
  font-family: 'Hahmlet', serif;
}

#tbl-work-info{
  margin: 20px 0;
  border-collapse: separate;
  border-style: hidden;
  border: solid #ffb6b9 2px;
  border-radius: .4rem!important;
  font-size: 20px;
}
#tbl-work-info th{
  padding: 15px 0;
  width: 200px;
  text-align: center;
}
#tbl-work-info td{
  padding: 15px 0;
}
.figure{
  margin: 10px 10px;
}
.figure img{
  width: 360px;
}
