@charset "UTF-8";
.container{
  padding: 100px;
}
/* annEnrollFirst */
section{
  font-family: 'Hahmlet', serif;
}
.root{
  width: 90%;
  height: 100px;
}
.head-progressbar{
  width: 100%;
  position: absolute;
  z-index: 1;
}
.progressbar li{
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
}
.progressbar li:before{
  content:"1";
  width: 30px;
  height: 30px;
}
.progressbar li:before{
  content:"1";
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}
.progressbar{
  counter-reset: step;
}
.progressbar li:before{
  content:counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}
.progressbar li:after{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after{
  content: none;
}
.progressbar li.active:before{
  border-color: #bbded6;
  background: #bbded6;
  color: white
}
li{
  list-style: none;
  color: #9c9c9c;
}

.description{
  color: #9c9c9c;
}
#ann-enroll-second, #ann-enroll-third, #ann-enroll-fourth{
  display: none;
}
.need{
  color: red;
}
#ann-enroll-first .form-select{
  width: 500px !important;
}
#btn-dscr{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: #0dcaf0 1px solid;
  color: #0dcaf0;
  background-color: #ffffff;
}
.lastInput{
  margin-bottom: 50px !important;
}
.btn-primary {
  color: #fff;
  background-color: #ffb6b9;
  border-color: #ffb6b9;
  margin-bottom: 20px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  background-color: #cb7073;
  border-color: #cb7073;
}
.form-control{
  margin-bottom: 10px;
}
.btn-next{
  margin: 0 auto;
  font-size: 20px;
  letter-spacing:10px;
  width: 300px;
  height: 50px;
  color: #ffffff;
  background-color: #bbded6;
  transition: .2s;
  border: none;
}
.btn-submit{
  margin: 0 auto;
  font-size: 20px;
  letter-spacing:10px;
  width: 300px;
  height: 50px;
  color: #ffffff;
  background-color: #bbded6;
  transition: .2s;
  border: none;
}
.btn-submit:hover{
  background-color: #fae3d9;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.btn-next:hover{
  background-color: #fae3d9;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.form-select{
  width: 500px;
}
#exampleFormControlInput9{
  display: inline;
  width: 50px;
}
.pgb {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #F1F1F1;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #fceee8;
}

.progress-container #progress-bar {
  width: 0;
  height: 8px;
  background: #bbded6;
}