#container {
  display: flex;
  font-family: 'Hahmlet', serif;
  justify-content: center;
  margin: 0 130px 0 30px;
  
}
.top-logo{
  height: 180px;
  background-color: #bbded6;
  position: relative;
}
.top-logo span {
  position: absolute;
  left: 2%;
  bottom: 7%;
  color: white;
  font-family: 'Hahmlet', serif;
  font-weight: 900;
  font-size: 320%;
  
}
#Pmypage-submenu {
  margin-top: 100px;
  text-align: right;
  width: 15%;
}
#Pmypage-submenu ul {
  padding: 0;
}
#Pmypage-submenu li {
  list-style: none;
  margin: 15px 0;
  font-weight: 500;
  font-size: x-large;
}
#Pmypage-submenu a:hover {
  color: #bbded6;
}
#Pmypage-submenu a {
  color: black;
  text-decoration: none;
}
.current {
  color: #bbded6 !important;
}
  /* 여기까지 submenu */


#pwck-container{
  margin-left: 4%;
  width: 80%;
  height: 100vh;
}
#pwck-container h2 {
  font-size: 40px;
  border-bottom: 2px solid gray;
  padding: 10px;
  margin: 15px 0 10px;
}
#pwck-container p{
  margin: 0;
  font-size: medium;
}

#idpwbtn{
  display: flex;
  position: relative;
  top: 110px;
  left: 100px;
  width: 630px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
#idpw {
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
#idpw div:last-child {
  margin: 0;
}
.box {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}
.box label {
  text-align: right;
  margin-right: 10px;
}
.box input{
	height: 45px;
  	width: 400px;
 	padding: 8px;
}
#btn-box{
  margin-top: 15px;
}
.btn {
  font-size: large;
  font-family: 'Hahmlet', serif;
  padding: 3px 15px 6px 6px 18px;
  letter-spacing: 3px;
  border: none;
  background-color: #bbded6;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background-color: #fae3d9;
  border: 1px solid transparent;
  white-space: nowrap;
  border: none;
  box-shadow: 1px 3px 5px rgb(0 0 0 / 20%);
}
#msg-div {
	transform: translateX(-112px);
	margin-bottom: 10px;
}
#msg {
	color: red;
}
