#container {
  display: flex;
  font-family: 'Hahmlet', serif;
  justify-content: center;
  margin: 0 130px 0 30px;
}
.top-logo{
  height: 180px;
  background-color: #bbded6;
  position: relative;
}
.top-logo span {
  position: absolute;
  left: 2%;
  bottom: 7%;
  color: white;
  font-family: 'Hahmlet', serif;
  font-weight: 900;
  font-size: 320%;
  
}
#Pmypage-submenu {
  margin-top: 100px;
  text-align: right;
  width: 15%;
}
#Pmypage-submenu ul {
  padding: 0;
}
#Pmypage-submenu li {
  list-style: none;
  margin: 15px 0;
  font-weight: 500;
  font-size: x-large;
}
/* #Pmypage-submenu a:hover {
  color: #bbded6;
} */
#Pmypage-submenu a {
  color: black;
  text-decoration: none;
}
.current {
  color: #bbded6 !important;
}
/* 여기까지 submenu */
#portfolio-container {
  width: 80%;
  margin-left: 4%;
  margin-bottom: 100px;
}
#portfolio_head {
  border-bottom: 2px solid gray;
}
#portfolio-container h2 {
  font-size: 40px;
  padding: 10px;
  margin: 20px 0 10px;
}
* {
  font-family: "Hahmlet", sans-serif;
}
p {
  margin: 0;
  font-size: large;
}
#head-p{
  font-size: xx-large;
  margin: 40px 0 10px 0;
}
#btn-apply{
  width: 280px;
  height: 100px;
  border: none;
  background-color: #ffb6b9;
  font-size: 30px;
  font-weight: bold;
  color: white;
  letter-spacing: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem!important;
}
#btn-apply:hover {
  background-color: #fae3d9;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 20%);
}
#text-div {
transform: translateX(-20px);
}
#btn-div {
margin: 30px 0 0 0;
transform: translateX(-20px);
}
