@charset "UTF-8";
form{
  font-family: 'Hahmlet', serif;
  margin: auto;
}

body {
         text-align: center;
         display: block;
         margin: 0 auto;
         font-size: 16px;
         color: black;
}
input#newPw {
	width : 250px;
	margin-left:40px;
}
input#newPwCheck {
	width : 250px;
}
#pwUpdate div{
	margin : 20px;
}

#findId_head, #findId_result, #findPw_head, #newPw_head {
	background-color: #ffb6b9;
	padding: 10px 0 10px 20px;
	text-align: left;
	color: white;
}

div#find {
	background-color: #8ac6d1;
}

.Find {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #8ac6d1;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.Find:hover {
    background-color: #8ac6d1;
}

.Find:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}