@charset "UTF-8";
form{
  font-family: 'Hahmlet', serif;
  margin: auto;
}

body {
         text-align: center;
         display: block;
         margin: 0 auto;
         font-size: 16px;
         color: black;
}
input#newPw {
	width : 250px;
	margin-left:40px;
}
input#newPwCheck {
	width : 250px;
}
#pwUpdate div{
	margin : 20px;
}