#container {
  display: flex;
  font-family: 'Hahmlet', serif;
  justify-content: center;
  margin: 0 130px 0 30px;
  
}
.top-logo{
  height: 180px;
  background-color: #bbded6;
  position: relative;
}
.top-logo span {
  position: absolute;
  left: 2%;
  bottom: 7%;
  color: white;
  font-family: 'Hahmlet', serif;
  font-weight: 900;
  font-size: 320%;
  
}
#Pmypage-submenu {
  margin-top: 100px;
  text-align: right;
  width: 15%;
}
#Pmypage-submenu ul {
  padding: 0;
}
#Pmypage-submenu li {
  list-style: none;
  margin: 15px 0;
  font-weight: 500;
  font-size: x-large;
}
#Pmypage-submenu a:hover {
  color: #bbded6;
}
#Pmypage-submenu a {
  color: black;
  text-decoration: none;
}
.current {
  color: #bbded6 !important;
}
/* 여기까지 submenu */

#update-info{
  margin-left: 4%;
  width: 80%;
  margin-bottom: 100px;
}
#update-info h2 {
  font-size: 40px;
  border-bottom: 2px solid gray;
  padding: 10px;
  margin: 15px 0 10px;
}

/* 수정 내용 content */
#update-info form {
  margin: 40px 0;
}
#update-info table {
  margin: 30px 30px;
  border-collapse: separate;
  border-spacing: 0 20px;
}
#update-info table tr {
}

#update-info table th {
  padding: 0 10px;
  text-align: left;
  font-size: medium;
  font-weight: 400;
}
#pwckth{
  vertical-align : top !important;
}

#update-info table input:not(#birthday):not(#type-actor):not(#type-director) {
  height: 27px;
  width: 300px;
}
#birthday{
  height: 30px;
  width: 200px;
}


#msg {
  /* display: none; */
  font-size: small;
  color: red;
}

#update-info div {
  display: flex;
}




.btn {
  font-size: medium;
  font-family: 'Hahmlet', serif;
  padding: 5px 15px;
  transform: translateX(372px);
  border: none;
  background-color: #bbded6;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background-color: #fae3d9;
  border: 1px solid transparent;
  white-space: nowrap;
  border: none;
  box-shadow: 1px 3px 5px rgb(0 0 0 / 20%);
}