@charset "UTF-8";
#login-container{
	font-family: 'Hahmlet', serif;
	text-align: center;
	margin: 0 auto;
}
#login-header{
	height: 180px;
	background-color: #bbded6;
	position: relative;
	margin-bottom: 50px ;
}
#login-header span{
	position: absolute;
	left: 2%;
	bottom: 7%;
	color: white;
	font-family: 'Hahmlet', serif;
	font-weight: 900;
	font-size: 320%;
}
#member-login-form {
	display: inline-block;
	width: 700px;
	margin: 40px;
}
#saveId{
	width: 20px;
}
.saveId{
	display: inline-block;
	position: relative;
	top: 7px;
	left: 50px;
}
#btn-login{
	width: 300px;
	float: right;
	margin-right: 50px;
	background-color: #bbded6;
	border: #bbded6 1px solid;
}
#btn-login:hover{
	background-color: #a9c8c0;
	border: #a9c8c0 1px solid;
	box-shadow: 3px 3px 3px rgba(130, 128, 128, 0.2);
}
#naver, #kakao{
	width: 200px;
	margin: 20px;
	cursor: pointer;
}
table{
	width: 100%;
}
#pwTd{
	padding-left: 30px;
}
#btnTd{
	padding-right: 50px;
}
table td input{
	width: 400px;
}
#btn-group{
	width: 450px;
}
.b-line{
	border-right: solid 1px #bbded6;
}
.f-btn:hover{
	background-color: #bbded695;
}
#eye{
	position: relative;
	right: 35px;
}