@charset "UTF-8";
#container {
  display: flex;
  font-family: 'Hahmlet', serif;
  justify-content: center;
  margin: 0 130px 0 30px;
  /* height: 100vh; */
}
.top-logo{
  height: 180px;
  background-color: #bbded6;
  position: relative;
}
.top-logo span {
  position: absolute;
  left: 2%;
  bottom: 7%;
  color: white;
  font-family: 'Hahmlet', serif;
  font-weight: 900;
  font-size: 320%;
  
}
#Pmypage-submenu {
  margin-top: 100px;
  text-align: right;
  width: 15%;
}
#Pmypage-submenu ul {
  padding: 0;
}
#Pmypage-submenu li {
  list-style: none;
  margin: 15px 0;
  font-weight: 500;
  font-size: x-large;
}
/* #Pmypage-submenu a:hover {
  color: #bbded6;
} */
#Pmypage-submenu a {
  color: black;
  text-decoration: none;
}
.current {
  color: #bbded6 !important;
}
  /* 여기까지 submenu */


#mywish{
  /* height: 70vh; */
  margin-bottom: 100px;
  width: 80%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#mywish h2{
  font-size: 40px;
  padding: 10px;
  margin: 15px 0 10px;
}
#pagebar {
text-align: center;
    font-size: 20px;
    margin: 100px 0 20px;
    color: #639488;
}
#pagebar span {
	padding: 6px;
    color: #639488;
}
#pagebar a {
	padding: 10px;
    text-decoration: none;
    color: #bbded6;
    transition: all 0.2s ease-in-out;
}
#updown-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}


#wishlist-head{
  display: flex;
  border-bottom: 2px solid gray;
  justify-content: space-between;
}
#sortType-wrap{
  display: flex;
  align-items: flex-end;
}
#sortType{
  /* width: 100px !important; */
  appearance: none;
  margin: 0 10px 10px;
  font-family: "Hahmlet", sans-serif;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* 공고 하나하나 */
.col{
  flex: 0 0 auto;
  width: 22%;
  margin: 10px;
}
.card {
  height: 100%!important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.card-body{
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.card-title{
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.card-footer{
  color: #ffffff;
  background-color: #bbded6;
  padding: 0.5rem 1rem;
  /* border-top: 1px solid rgba(0,0,0,.125); */
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
} 
.text-muted {
  color: white !important;
}

.card:hover {
  cursor: pointer;
  background-color: #bbded645;
  box-shadow: 0px 0px 8px rgb(172 172 172 / 50%);
}

.expirated {
	 background-color: gainsboro;
}
.expirated:hover{
  background-color: gainsboro;
}
.card-footer.expFoot{
  background-color: rgb(139, 139, 139) !important;
}
#endAnn{
  font-size: 20px;
  color: #000000;
}
