#container {
  display: flex;
  font-family: 'Hahmlet', serif;
  justify-content: center;
  margin: 0 130px 0 30px;
  /* height: 100vh; */
}
.top-logo{
  height: 180px;
  background-color: #bbded6;
  position: relative;
}
.top-logo span {
  position: absolute;
  left: 2%;
  bottom: 7%;
  color: white;
  font-family: 'Hahmlet', serif;
  font-weight: 900;
  font-size: 320%;
  
}
#Pmypage-submenu {
  margin-top: 100px;
  text-align: right;
  width: 18%;
}
#Pmypage-submenu ul {
  padding: 0;
}
#Pmypage-submenu li {
  list-style: none;
  margin: 15px 0;
  font-weight: 500;
  font-size: x-large;
}
/* #Pmypage-submenu a:hover {
  color: #bbded6;
} */
#Pmypage-submenu a {
  color: black;
  text-decoration: none;
}
.current {
  color: #bbded6 !important;
}
  /* 여기까지 submenu */


#mywish{
  /* height: 70vh; */
  margin-bottom: 100px;
  width: 80%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#mywish h2{
  font-size: 40px;
  border-bottom: 2px solid gray;
  padding: 10px;
  margin: 15px 0 10px;
}
#pagebar {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.page {
  margin: 3px;
  text-decoration: none;
  color: #bbded6;
  font-size: 23px;
}

#updown-container{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  
}
#up, #down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* 공고 하나하나 */
.col{
  /* flex: 0 0 auto; */
  width: 22%;
  margin: 10px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.card-body{
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.card-title{
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.card-footer{
  color: #ffffff;
  background-color: #bbded6;
  padding: 0.5rem 1rem;
  /* border-top: 1px solid rgba(0,0,0,.125); */
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
} 
.text-muted {
  color: white !important;
}