.nav{
  font-family: 'Hahmlet', serif;
  height: 70px;
  display: flex;
  align-items: center;
}

.nav-right-items {
  display: flex;
  margin-left:auto;
  margin-right: 30px;
}

.nav-item a{
  margin-left: 10px;
  text-decoration: none;
  font-weight: 700;
  color: #3D566E;
}

.nav-item .ahover:hover{
  color: #8ac6d1 !important;
}

.nav-main{
  margin-left: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  color: #3D566E;
}


.title {
  font-family: 'Hahmlet', serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.subtitle{
  font-family: 'Hahmlet', serif;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}
#mar{
  padding: 10px;
  font-size: 20px;
}
.point{
  color: #8ac6d1;
  font-weight: 800;
  font-size: 30px;
}
.carousel-inner{
  overflow: hidden;
  height: 350px;
}
.carousel-item img{
	width: 100%;
	opacity: 0.8;
  position: relative;
  bottom: 200px;
}
.main {
  width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 160px;
}

.list{
  display: flex;
  margin-top: 50px;

}
.list-item {
  font-family: 'Hahmlet', serif;
  width: 300px;
  height: 230px;
  border: 1px solid #ebe1e2;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
}

.list-item-title{
  padding: 10px;
  font-family: 'Hahmlet', serif;
  font-size: 30px;
  font-weight: 500;
  background-color:  #ffb6b9;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #ffb6b9;
  color: #fff;
}

.list-item-detail{
  font-family: 'Hahmlet', serif;
  font-size: 18px;
  padding: 15px 30px;
}
.list-item-button{
  font-family: 'Hahmlet', serif;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 3rem;
  color: rgb(0, 0, 0);
  border-color:#fae3d9;
  margin-top: 20px;
  transition: 0.1s ease;
}
.list-item-button:hover{
  transform: scale(1.1);
}

footer{
	height: 200px;
	background-color:  #ffb6b9;
}