#container {
  display: flex;
  font-family: 'Hahmlet', serif;
  justify-content: center;
  margin: 0 130px 0 30px;
  /* height: 100vh; */
}
.top-logo{
  height: 180px;
  background-color: #bbded6;
  position: relative;
}
.top-logo span {
  position: absolute;
  left: 2%;
  bottom: 7%;
  color: white;
  font-family: 'Hahmlet', serif;
  font-weight: 900;
  font-size: 320%;
  
}
#Dmypage-submenu {
  margin-top: 100px;
  text-align: right;
  width: 18%;
}
#Dmypage-submenu ul {
  padding: 0;
}
#Dmypage-submenu li {
  list-style: none;
  margin: 15px 0;
  font-weight: 500;
  font-size: x-large;
}
/* #Pmypage-submenu a:hover {
  color: #bbded6;
} */
#Dmypage-submenu a {
  color: black;
  text-decoration: none;
}
.current {
  color: #bbded6 !important;
}
  /* 여기까지 submenu */


#mywish{
  /* height: 70vh; */
  margin-bottom: 100px;
  width: 80%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#mywish h2{
  font-size: 40px;
  border-bottom: 2px solid gray;
  padding: 10px;
  margin: 30px 0 10px;
}
#pagebar {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.page {
  margin: 3px;
  text-decoration: none;
  color: #bbded6;
  font-size: 23px;
}

#updown-container{
  display: flex;
  flex-direction: column;
}
#up, #down {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/* 공고 하나하나 */
.card {
  width: 20%;
  margin: 20px 10px 20px 10px;
}
.polaroid{
  position: relative;
  height: 100%;
  padding: 10px;
  /* background-color: #fff; */
  box-shadow: 2px 2px 3px 1px rgb(135 139 133 / 40%);
  transition: 0.5s;
}
.img-container{
  height: 75%;
}
.polaroid img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.actorName{
  margin: 5px 0 0 0;
  font-size: 25px;
  font-weight: 500;
}
.actorBirth{
  margin: 10px 0 0 0;
  font-size: 15px;
}